################################################################################
syntax: glob

.directory
*.orig
*.rej
*~
.git/
.git-rewrite/
sql/world.sql
.vscode
################################################################################
syntax: regexp


# Top-level generic files
#
bin
build
tags
TAGS
win
!.gitignore
!.gitattributes
!.travis.yml

# voice chat
src/voicechat-server/